.card {
  margin-bottom: 10px;
  button {
    margin-right: 10px;
  }
}
/* modals */
/* use css to set position of modal */
.vertical-center-modal {
  text-align: center;
  white-space: nowrap;
}

.vertical-center-modal:before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  width: 0;
}

.vertical-center-modal .ant-modal {
  display: inline-block;
  vertical-align: middle;
  top: 0;
  text-align: left;
}

/* For demo */
.ant-carousel .slick-slide {
  text-align: center;
  height: 160px;
  line-height: 160px;
  background: #a4cc5a;
  overflow: hidden;
}

.ant-carousel .slick-slide h3 {
  color: #fff;
}
.slider-wrap .ant-carousel .slick-slide {
  height: 240px !important;
}
//为了使每个ui页面的组件全屏
.bbton {
  width: 100%;
}
.slick-wrap .ant-carousel .slick-slide {
  height: 240px !important;
  width: 100%;
}
