@import "./default.less";
@import "./loading.less";
.container {
  .nav-left {
    height: calc(100vh);
    background-color: #001529;
    color: #fff;
  }
  .main {
    height: calc(100vh);
    background-color: @colorL;
    overflow: auto; //解决左侧菜单栏加背景色后仍会不中
  }
  .content {
    position: relative;
    padding: 20px;
  }
}
